PORT=5000
DB_NAME=nome_do_banco_do_projeto
DB_USER=seu_usuario
DB_PASS=sua_senha
DB_HOST=localhost

# INSTRUÇÕES:
# 1º Crie um arquivo dentro de back-end chamado ".env".
# 2º Copie o conteúdo do arquivo ".env.example"
#      e cole dentro do árquivo que você criou
#      e coloque os dados necessários.
