@charset "UTF-8";

:root {
    --fontePadrao: Verdana, Geneva, Tahoma, sans-serif;
    --cor1: #E0B23F;
    --cor2: #E0D93F;
    --cor3: #E0C63F;
    --cor4: #E09E3F;
    --cor5: #F5E4A6;
    --cor6: #F4F1EA;
}

#login,
#login * {
    margin: 0;
    padding: 0;
    font-size: 14pt;
}

body {
    font-family: var(--fontePadrao);
    background-color: var(--cor6);
}

/* Formulário */

#login {
    background-color: var(--cor5);
    display: flex;
    flex-direction: column;
    width: 280px;
    /* height: 60dvh; */
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 20px;
    padding: 10px;

    & h1 {
        font-size: 30pt;
    }
}

#login form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#StayLoggedDiv {
    align-self: flex-start;
}

#login input {
    border: none;
    padding: 3px;
}

#login input:focus {
    outline: none;
    background-color: rgb(223, 223, 223);
}

#login label:hover {
    cursor: pointer;
}

/* Botão de Cadastrar */

#formButton {
    background-color: var(--cor4);
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

#formButton:active {
    opacity: 0.5;
}

#formButton:hover {
    background-color: var(--cor1);
}
