html,
body,
:root {
  --fontePadrao: Verdana, Geneva, Tahoma, sans-serif;
  --cor1: #E0B23F;
  --cor2: #E0D93F;
  --cor3: #E0C63F;
  --cor4: #E09E3F;
  --cor5: #F5E4A6;
  --cor6: #F4F1EA;
}

body {
  font-family: var(--fontePadrao);
  background-color: var(--cor6);
  margin: 0;
  padding: 0;
}